<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All Brands</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,700i" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.min.css" />
    <link rel=stylesheet href="../../assets/css/dv-commerce.css">
</head>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.png" width="50" height="50" alt="">
                Shop -it
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline col-md-7 col-sm-12  ml-md-5 my-2 my-lg-0">
                <input class="form-control mr-sm-2 col-md-8 col-sm-10" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories </a>
                    <div class="dv-get-all:shopit:category dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item var-id" href="/pages/categories?cat_id=var-id">
                         <span class="var-category_name"></span>
                      </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row justify-content-center" id="check-out">
        <div class="col-md-8 card px-0 mx-sm-3 mt-5" v-if="showCart">
            <h4 class="text-center text-muted my-3">Shopping Cart</h4>
            <div class="card-header card-primary card-block text-white">
                <strong>Selected Items</strong>
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Units</th>
                        <th>Price (GHS)</th>
                        <!-- <th>Discount(GHS)</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot v-if="!hasItems">
                    <tr>
                        <td></td>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td><strong>{{totalItemPrice}}</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr v-for="(item, index) in cartItems">
                        <td>{{index + 1}}</td>
                        <td v-html="item.name"></td>
                        <td>
                            <input v-model.number="item.units" class="edit-input form-control" min="1" type="number" v-on:change="saveToCart" required step="1" placeholder="unit">
                        </td>
                        <td>{{formatMoney(item.price)}}</td>
                        <!-- <td>80.00</td> -->
                        <td>
                            <button type="button" v-on:click="removeItem(index)" class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-muted text-center" v-if="hasItems">Yor shopping Cart is empty</p>
            <button type="button" v-if="!hasItems" v-on:click="toggleCart" class="btn btn-primary mx-auto my-3">
                <i class="fa fa-check"></i> Checkout
            </button>
        </div>
        <div class="col-md-8 card px-0 mx-sm-3 mt-5" v-if="!showCart">
            <h4 class="text-center text-muted my-3">Checkout</h4>
            <div class="card-header card-primary card-block text-white">
                <strong>User Details</strong>
            </div>
            <div class="row justify-content-center">
                <form v-on:submit.prevent="submitPurchase" method="get" accept-charset="utf-8">
                    <br>
                    <input v-model="userInfo.name" required class="form-control col-12" type="text" placeholder="Name">
                    <br />
                    <input v-model="userInfo.phone" required class="form-control col-12" type="phone" placeholder="Phone (+233249908778)">
                    <br />
                    <input v-model="userInfo.country" value="Ghana" required class="form-control col-12" type="hidden" placeholder="Country">
                    <br />
                    <input v-model="userInfo.city" required class="form-control col-12" type="text" placeholder="City">

                    <br />
                    <input v-model="userInfo.landmark" required class="form-control col-12" type="text" placeholder="Specify a landmark eg Close to Ghana Dubai(circle)">
                    <br />
                        <center class="text-muted">How are you paying </center>
                    <select v-model="userInfo.payment" class="form-control">
                        <option value="0">Mobile Money Agent</option>
                        <option selected value="1">Mobile Money Account</option>
                    </select><br>
                    <textarea class="form-control" v-model="userInfo.orderNote" placeholder="Special Notes"></textarea>
                    <br>
                    <button type="button" v-on:click="toggleCart" class="btn btn-primary  my-3">
                        <i class="fa fa-shopping-cart"></i> View Cart
                    </button>
                    <button type="submit" class="btn btn-success my-3">
                        <i v-if="!submitted" class="fa fa-check"></i>
                        <i v-if="submitted" class="fa fa-spinner fa-spin" aria-hidden="true"></i> Purchase                   </button>
                </form>
            </div>
        </div>
    </div>
    <a href="/pages/checkout">
        <div class="cart-container rounded-circle d-flex align-items-center justify-content-center">
            <i class="fa fa-shopping-cart fa-2x"></i>
            <span class="badge badge-danger counter">0</span>
        </div>
    </a>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="../../assets/js/accounting.js" type="text/javascript">
    </script>
    <script src="../../assets/js/dv-commerce.js" type="text/javascript">
    </script>
    <script src="../../assets/js/lodash.js" type="text/javascript">
    </script>
</body>

</html>